<?xml version="1.0" encoding="utf-8"?>
<!-- SevMorGeo, Almazov -->
<control version="1.3" device="Almazov">
  <!-- ModBus, Radist-2 -->
  <connect proto="Radist-2">
    <port>COM2</port>
    <baudrate>128000</baudrate>
    <try>4</try>
  </connect>
  <!-- count is info only -->
  <collectors count="3">
    <coeff n="1">78729.4921875</coeff>
    <coeff n="2">16848.6328125</coeff>
    <coeff n="3">1</coeff>
  </collectors>
  <!-- max-min are info only -->
  <overview min="400" max="1056">
    <start>400</start>
    <end>1056</end>
  </overview>
  <sense count="20">
    <region n="1">
      <peak>537</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>2</col>
      <comment>метан-15-сервисный</comment>
      <use>True</use>
    </region>
    <region n="2">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="3">
      <peak>847</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>1</col>
      <comment>id_PROPANE_39</comment>
      <use>True</use>
    </region>
    <region n="4">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="5">
      <peak>985</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>1</col>
      <comment>id_ETHANE_30</comment>
      <use>True</use>
    </region>
    <region n="6">
      <peak>952</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>1</col>
      <comment>id_OXYGEN_32</comment>
      <use>True</use>
    </region>
    <region n="7">
      <peak>808</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>1</col>
      <comment>id_ISOBUTANE_42</comment>
      <use>True</use>
    </region>
    <region n="8">
      <peak>639</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>1</col>
      <comment>id_BUTANE_58</comment>
      <use>True</use>
    </region>
    <region n="9">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="10">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="11">
      <peak>574</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>2</col>
      <comment>id_NITROGEN_14</comment>
      <use>True</use>
    </region>
    <region n="12">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="13">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="14">
      <peak>784</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>1</col>
      <comment>id_CO2_44</comment>
      <use>True</use>
    </region>
    <region n="15">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="16">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="17">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="18">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
    <region n="19">
      <peak>538</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>2</col>
      <comment>id_METHANE_15</comment>
      <use>True</use>
    </region>
    <region n="20">
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region>
  </sense>
  <common>
    <fv n="1">2729</fv>
    <fv n="2">2812</fv>
    <dv n="1">0</dv>
    <dv n="2">0</dv>
    <dv n="3">0</dv>
    <exptime>200</exptime>
    <meastime>10</meastime>
    <ivoltage>2184</ivoltage>
    <cp>3751</cp>
    <ecurrent>327</ecurrent>
    <hcurrent>0</hcurrent>
    <before>400</before>
    <equal>False</equal>
    <forward>200</forward>
    <back>1000</back>
  </common>
  <check>
    <peak>
    </peak>
    <col>
    </col>
    <width>
    </width>
    <iterations>1000</iterations>
    <limit>219</limit>
    <allowed>0</allowed>
    <region>0</region>
    <cycles>0</cycles>
  </check>
</control>