<?xml version="1.0" encoding="utf-8"?>
<control>
  <connect>
    <port>COM5</port>
    <baudrate>38400</baudrate>
    <try>4</try>
  </connect>
  <overview>
    <start>400</start>
    <end>1055</end>
  </overview>
  <sense>
    <region1>
      <peak>513</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>2</col>
      <comment>15</comment>
      <use>True</use>
    </region1>
    <region2>
      <peak>629</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>1</col>
      <comment>58</comment>
      <use>True</use>
    </region2>
    <region3>
      <peak>841</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>1</col>
      <comment>39</comment>
      <use>True</use>
    </region3>
    <region4>
      <peak>978</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>1</col>
      <comment>30</comment>
      <use>True</use>
    </region4>
    <region5>
      <peak>996</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>1</col>
      <comment>29</comment>
      <use>True</use>
    </region5>
    <region6>
      <peak>945</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>1</col>
      <comment>32</comment>
      <use>True</use>
    </region6>
    <region7>
      <peak>801</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>1</col>
      <comment>42</comment>
      <use>True</use>
    </region7>
    <region8>
      <peak>638</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>1</col>
      <comment>57</comment>
      <use>True</use>
    </region8>
    <region9>
      <peak>515</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>1</col>
      <comment>72</comment>
      <use>True</use>
    </region9>
    <region10>
      <peak>523</peak>
      <iteration>1</iteration>
      <width>4</width>
      <error>0</error>
      <col>1</col>
      <comment>71</comment>
      <use>True</use>
    </region10>
    <region11>
      <peak>799</peak>
      <iteration>1</iteration>
      <width>0</width>
      <error>0</error>
      <col>1</col>
      <comment>
      </comment>
      <use>True</use>
    </region11>
    <region12>
      <peak>628</peak>
      <iteration>1</iteration>
      <width>0</width>
      <error>0</error>
      <col>1</col>
      <comment>
      </comment>
      <use>True</use>
    </region12>
    <region13>
      <peak>422</peak>
      <iteration>1</iteration>
      <width>3</width>
      <error>0</error>
      <col>1</col>
      <comment>86</comment>
      <use>True</use>
    </region13>
    <region14>
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region14>
    <region15>
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region15>
    <region16>
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region16>
    <region17>
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region17>
    <region18>
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region18>
    <region19>
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region19>
    <region20>
      <peak>
      </peak>
      <iteration>
      </iteration>
      <width>
      </width>
      <error>
      </error>
      <col>
      </col>
      <comment>
      </comment>
      <use>
      </use>
    </region20>
  </sense>
  <common>
    <focus1>2730</focus1>
    <focus2>2730</focus2>
    <exptime>200</exptime>
    <meastime>10</meastime>
    <ivoltage>1911</ivoltage>
    <cp>3780</cp>
    <ecurrent>79</ecurrent>
    <hcurrent>0</hcurrent>
    <before>100</before>
    <equal>True</equal>
    <forward>100</forward>
    <back>400</back>
  </common>
</control>